@model Opain.Jarvis.Dominio.Entidades.OperacionVueloOtd

<h4>Ver Vuelo</h4>
<hr />
<div>
    <table class="table table-borderless">
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Fecha) :</strong> @Html.DisplayFor(model => model.Fecha) </td>
            <td><strong>@Html.DisplayNameFor(model => model.Hora) :</strong> @Html.DisplayFor(model => model.Hora) </td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.NombreAerolinea) :</strong> @Html.DisplayFor(model => model.NombreAerolinea) </td>
            <td><strong>@Html.DisplayNameFor(model => model.Destino) :</strong> @Html.DisplayFor(model => model.Destino) </td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Vuelo) :</strong> @Html.DisplayFor(model => model.Vuelo) </td>
            <td><strong>@Html.DisplayNameFor(model => model.Matricula) :</strong> @Html.DisplayFor(model => model.Matricula) </td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Tipo) :</strong> @Html.DisplayFor(model => model.Id) </td>
            <td><strong>@Html.DisplayNameFor(model => model.TotalEmbarcados) :</strong> @Html.DisplayFor(model => model.TotalEmbarcados) </td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.INF) :</strong> @Html.DisplayFor(model => model.INF) </td>
            <td><strong>@Html.DisplayNameFor(model => model.TTL) :</strong> @Html.DisplayFor(model => model.TTL) </td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.TTC) :</strong> @Html.DisplayFor(model => model.TTC) </td>
            <td><strong>@Html.DisplayNameFor(model => model.EX) :</strong> @Html.DisplayFor(model => model.EX) </td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.TRIP) :</strong> @Html.DisplayFor(model => model.TRIP) </td>
            <td><strong>@Html.DisplayNameFor(model => model.PAX) :</strong> @Html.DisplayFor(model => model.PAX) </td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.PagoUSD) :</strong> @Html.DisplayFor(model => model.PagoUSD) </td>
            <td><strong>@Html.DisplayNameFor(model => model.PagoCOP) :</strong> @Html.DisplayFor(model => model.PagoCOP) </td>
        </tr>
    </table>
</div>

