@model IEnumerable<Opain.Jarvis.Dominio.Entidades.OperacionVueloOtd>

@{
    ViewData["Title"] = "Listado Historico";
}

<script src="~/js/FormatoFecha.js" asp-append-version="true"></script>


<table class="table" id="tblVuelosHistoricos">
    <thead>
        <tr>
            <th style="display:none;">
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th style="display:none;">
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreAerolinea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vuelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmacionPasajeros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmacionTransitos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmacionManifiesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmacionGenDec)
            </th>
            @if (User.IsInRole("OPAIN") || User.IsInRole("ADMINISTRADOR"))
            {
                <th>
                    Validación Manual
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="display:none;">
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td style="display:none;">
                    @Html.DisplayFor(modelItem => item.Destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreAerolinea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vuelo)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Fecha)*@
                    @item.Fecha.Day.ToString().PadLeft(2, '0')/@item.Fecha.Month.ToString().PadLeft(2, '0')/@item.Fecha.Year.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora)
                </td>
                <td>
                    @if (item.PDFPasajeros == 1 || item.PDFPasajeros == 2)
                    {
                        if (item.ConfirmacionPasajeros == 1)
                        {
                            if (item.PDFPasajeros == 1)
                            {
                                <button type="button" class="btn btn--simple" data-toggle="modal" data-target="#accionesVuelo" onclick="VerArchivo('PASAJEROS', '@item.ArchivoPasajeros');">
                                    <img src="~/images/buscar.png" alt="Mostrar detalles" />
                                </button>
                            }
                            else if (item.PDFPasajeros == 2)
                            {
                                <button type="button" class="btn btn--simple" data-toggle="modal" data-target="#accionesVuelo" onclick="VerArchivo2('PASAJEROS', '@item.ArchivoPasajeros',@item.Id);">
                                    <img src="~/images/buscar.png" alt="Mostrar detalles" />
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn--simple" data-toggle="modal" data-target="#accionesVuelo" onclick="VerListado(@item.Id, 'PASAJEROS',1);">
                                    <img src="~/images/buscar.png" alt="Mostrar detalles" />
                                </button>
                            }

                        }
                        else
                        {
                            <button type="button" class="btn btn--simple">
                                <img src="~/images/nulo.png" alt="Subir archivo" class="img-fluid" /> <span></span>
                            </button>
                        }
                    }
                    else
                    {
                        if (item.ConfirmacionPasajeros == 1)
                        {
                            <button type="button" class="btn btn--simple" data-toggle="modal" data-target="#accionesVuelo" onclick="VerListado(@item.Id, 'PASAJEROS', 1);">
                                <img src="~/images/buscar.png" alt="Mostrar detalles" />
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn--simple">
                                <img src="~/images/nulo.png" alt="Subir archivo" class="img-fluid" /> <span></span>
                            </button>
                        }
                    }
                </td>
                <td>
                    @if (item.ConfirmacionTransitos == 1)
                    {
                        <button type="button" class="btn btn--simple" data-toggle="modal" data-target="#accionesVuelo" onclick="VerListado(@item.Id, 'TRANSITOS', 1);">
                            <img src="~/images/buscar.png" alt="Mostrar detalles" />
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn--simple">
                            <img src="~/images/nulo.png" alt="Subir archivo" class="img-fluid" /> <span></span>
                        </button>
                    }
                </td>

                <td>
                    @if (item.ConfirmacionManifiesto == 1)
                    {
                        <button type="button" class="btn btn--simple" data-toggle="modal" data-target="#accionesVuelo" onclick="VerArchivo('NA', '@item.ArchivoManifiesto');">
                            <img src="~/images/buscar.png" alt="Mostrar detalles" />
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn--simple">
                            <img src="~/images/nulo.png" alt="Subir archivo" class="img-fluid" /> <span></span>
                        </button>
                    }
                </td>
                <td>
                    @if (item.ConfirmacionGenDec == 1)
                    {
                        <button type="button" class="btn btn--simple" data-toggle="modal" data-target="#accionesVuelo" onclick="VerArchivo('NA', '@item.ArchivoGendec');">
                            <img src="~/images/buscar.png" alt="Mostrar detalles" />
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn--simple">
                            <img src="~/images/nulo.png" alt="Subir archivo" class="img-fluid" /> <span></span>
                        </button>
                    }
                </td>
                @if (User.IsInRole("OPAIN") || User.IsInRole("ADMINISTRADOR"))
                {
                    <td>
                        @if (item.EstadoProceso == "4")
                        {
                            <a class="btn btn--simple" asp-action="ValidacionManual" asp-route-id="@item.Id">
                                <img src="~/images/editar.png" alt="Auditar Manual" class="img-fluid" /> <span></span>
                            </a>
                        }
                        else
                        {

                        }

                    </td>
                }

            </tr>
        }
    </tbody>
</table>
