<h1>Cargar Archivo </h1>

@if ( ViewData["TipoPDFPasa"] != null &&  ViewData["TipoPDFPasa"].ToString()== "2")
{
<button type="button" class="btn btn--border float-right" onclick="InsertarPasajero(@ViewData["operacion"]);">
    <img src="~/images/crear-usuario.png" alt="Agregar Pasajero" class="img-fluid" /> Agregar pasajero
</button>
}

<div class="row">
    <div class="col-12">
        <div class="upload__file float-left">
            <strong>Subir archivo.</strong><br />

            @if (ViewData["TipoPDFPasa"] != null && ViewData["TipoPDFPasa"].ToString() == "1")
            {
                <form asp-controller="Archivos" asp-action="Cargar" method="post" enctype="multipart/form-data" id="formActualizarArchivos">
                    <div class="choose-file d-flex mt-3">

                        <input type="hidden" name="idOperacion" value="@ViewData["operacion"]" />
                        <input type="hidden" name="carpeta" value="@ViewData["carpeta"]" />

                        <input type="file" name="archivo" id="file-3" class="inputfile inputfile-2" required accept="application/pdf" />

                        <label for="file-3" class="flex-grow-1">
                            <span>Seleccionar un archivo</span>
                        </label>
                        <div class="invalid-tooltip">
                            El archivo no es valido
                        </div>
                        <button type="submit" class="btn btn--border" id="btnCargarArch" disabled >
                            <img src="~/images/subir.png" alt="Subir archivo" class="img-fluid" /> Subir archivo
                        </button>

                    </div>
                </form>
            }

            @if (ViewData["TipoPDFPasa"] != null && ViewData["TipoPDFPasa"].ToString() == "2")
            {
                @if (ViewData["carpeta"] != null && ViewData["carpeta"].ToString() == "PASAJEROS")
                {
                    <form asp-controller="Archivos" asp-action="Cargar"   method="post" enctype="multipart/form-data" id="pasaje">
                        <div class="choose-file d-flex mt-3">
                            <input type="hidden" name="idOperacion" value="@ViewData["operacion"]" />
                            <input type="hidden" name="idOperacionVuelo" value="@ViewData["operacion"]" />
                            <input type="hidden" name="carpeta" value="@ViewData["carpeta"]" />

                            <input type="file" name="archivo" id="file-3" class="inputfile inputfile-2" required onchange='validateFileType(this)' accept=".csv, text/plain,application/pdf" />

                            <label for="file-3" class="flex-grow-1">
                                <span>Seleccionar un archivo</span>
                            </label>
                            <div class="invalid-tooltip">
                                El archivo no es valido
                            </div>
                            <button type="submit" class="btn btn--border" id="btnCargarPasajeros" disabled onclick="Deshabilitar()">
                                <img src="~/images/subir.png" alt="Subir archivo" class="img-fluid" /> Subir archivo
                            </button>


                        </div>
                    </form>

                }

                @if (ViewData["carpeta"] != null && ViewData["carpeta"].ToString() == "TRANSITOS")
                {
                    <form asp-controller="Transitos" asp-action="Cargar" method="post" enctype="multipart/form-data" id="tran">
                        <div class="choose-file d-flex mt-3">
                            <input type="hidden" name="idOperacionVuelo" value="@ViewData["operacion"]" />
                            <input type="file" name="archivo" id="file-4" class="inputfile inputfile-2" required onchange='validateFileType2(this)' accept=".csv, text/plain,application/pdf" />
                            <label for="file-4" class="flex-grow-1">
                                <span>Seleccionar un archivo</span>
                            </label>
                            <div class="invalid-tooltip">
                                El archivo no es valido
                            </div>
                            <button type="submit" class="btn btn--border" id="btnCargarTransitos" disabled>
                                <img src="~/images/subir.png" alt="Subir archivo" class="img-fluid" /> Subir archivo
                            </button>
                        </div>
                    </form>

                }
            }

            @if (ViewData["TipoPDFPasa"] != null && ViewData["TipoPDFPasa"].ToString() == "4")
            {

                <form asp-controller="Archivos" asp-action="Cargar" method="post" enctype="multipart/form-data" id="formActualizarManifiesto">
                    <div class="choose-file d-flex mt-3">

                        <input type="hidden" name="idOperacion" value="@ViewData["operacion"]" />
                        <input type="hidden" name="carpeta" value="@ViewData["carpeta"]" />

                        <input type="file" name="archivo" id="file-3" class="inputfile inputfile-2" required accept="application/pdf" />

                        <label for="file-3" class="flex-grow-1">
                            <span>Seleccionar un archivo</span>
                        </label>
                        <div class="invalid-tooltip">
                            El archivo no es valido
                        </div>
                        <button type="submit" class="btn btn--border" id="btnCargarArch" disabled >
                            <img src="~/images/subir.png" alt="Subir archivo" class="img-fluid" /> Subir archivo
                        </button>

                    </div>
                </form>
            }

        </div>
            </div>
</div>

<div class="row">
    <div class="col-12" id="validacionListado"></div>
</div>

<div class="row">
    <div class="col-sm-12">
        <button type="button" class="btn btn--default--grey btn-block" data-dismiss="modal">Cancelar</button>
    </div>
</div>

<script type="text/javascript">

    $("#formActualizarArchivos, #formActualizarManifiesto").on("submit", function (eventObj) {
        var url = new URL(window.location.href);
        var tipoVuelo = url.searchParams.get("tipoVuelo") != null ? url.searchParams.get("tipoVuelo") : "";
        var tipoVueloHistorico = url.searchParams.get("tipoVueloHistorico") != null ? url.searchParams.get("tipoVueloHistorico") : "";
        var numeroVuelo = url.searchParams.get("numeroVuelo") != null ? url.searchParams.get("numeroVuelo") : "";
        var fechaInicio = url.searchParams.get("fechaInicio") != null ? url.searchParams.get("fechaInicio") : "";
        var fechaFinal = url.searchParams.get("fechaFinal") != null ? url.searchParams.get("fechaFinal") : "";
        var fechaInicioHistorico = url.searchParams.get("fechaInicioHistorico") != null ? url.searchParams.get("fechaInicioHistorico") : "";
        var fechaFinalHistorico = url.searchParams.get("fechaFinalHistorico") != null ? url.searchParams.get("fechaFinalHistorico") : "";
        $(this).append('<input type="hidden" id="tipoVuelo" name="tipoVuelo" value="' + tipoVuelo + '" />');
        $(this).append('<input type="hidden" id="tipoVueloHistorico" name="tipoVueloHistorico" value="' + tipoVueloHistorico + '" />');
        $(this).append('<input type="hidden" id="numeroVuelo" name="numeroVuelo" value="' + numeroVuelo + '" />');
        $(this).append('<input type="hidden" id="fechaInicio" name="fechaInicio" value="' + fechaInicio + '" />');
        $(this).append('<input type="hidden" id="fechaFinal" name="fechaFinal" value="' + fechaFinal + '" />');
        $(this).append('<input type="hidden" id="fechaInicioHistorico" name="fechaInicioHistorico" value="' + fechaInicioHistorico + '" />');
        $(this).append('<input type="hidden" id="fechaFinalHistorico" name="fechaFinalHistorico" value="' + fechaFinalHistorico + '" />');

        return true;
    });

    // Shorthand for $( document ).ready()
    $(function () {
        $("#file-3").change(function(){
            $("#btnCargarArch").prop("disabled", this.files.length == 0);
        });
    });

    function validateFileType(archivo) {
        var fileName = document.getElementById("file-3").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        
        if (extFile == "pdf") {
            $('#pasaje').attr('asp-controller', 'Archivos');
            $("#btnCargarPasajeros").prop("disabled", false);
        } else if (extFile == "txt") {
            ValidarArchivoPasajeros(archivo);
            $('#pasaje').attr('asp-controller', 'Pasajeros');
        } else {
           
        }
    }

    function validateFileType2(archivo) {
        var fileName = document.getElementById("file-4").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();

        if (extFile == "pdf") {
            $('#tran').attr('asp-controller', 'Archivos');
        } else if (extFile == "txt") {
            ValidarArchivoTransitos(archivo);
            $('#tran').attr('asp-controller', 'Transitos');
        } else {

        }
    }
    function Deshabilitar() {
        const boton = document.getElementById("btnCargarArch");
        boton.disabled = true;

    }

</script>