@model IEnumerable<Opain.Jarvis.Dominio.Entidades.HorarioOperacionOtd>

    
  
    <table class="table" id="tblHorarioOperacion">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Dia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraFin)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @switch (item.Dia)
                        {
                            case "L":
                                <text>Lunes</text>
                                break;
                            case "M":
                                <text>Martes</text>
                                break;
                            case "W":
                                <text>Míercoles</text>
                                break;
                            case "J":
                                <text>Jueves</text>
                                break;
                            case "V":
                                <text>Viernes</text>
                                break;
                            case "S":
                                <text>Sabado</text>
                                break;
                            default:
                                <text>Domingo</text>
                                break;
                        }
                    </td>
    
                        <td>
                            @Html.DisplayFor(modelItem => item.HoraInicio)
                        </td>
    
                        <td>
                            @Html.DisplayFor(modelItem => item.HoraFin)
                        </td>
    
                    </tr>
            }
        </tbody>
    </table>