@model IEnumerable<Opain.Jarvis.Dominio.Entidades.OperacionVueloOtd>

@functions {
    public int ValorABS(int diferenciaDeTasas)
    {
        return Math.Abs(diferenciaDeTasas);
    }
}

<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn--border" onclick="DescargarPDF()"> <img src="~/images/descargar.png" alt="Descargar PDF" /> Descargar PDF</button>
                <button type="button" class="btn btn--border" onclick="DescargarExcel()"> <img src="~/images/descargar.png" alt="Descargar Excel" /> Descargar excel</button>

            </div>
            @if (User.IsInRole("ADMINISTRADOR") )
            {
            @*<div class="col-sm-12">
                <button type="button" class="btn btn--border float-right" onclick="EnviarEmail()"> <img src="~/images/correo.png" alt="Email" /> Enviar Email.</button>
            </div>*@
            }

        </div>
    </div>
</div>
<table class="mt-4 mb-3" cellspacing="0" cellpadding="0" width="100%" id="tblConsultaVuelos">
    <thead>
        <tr>
            <td style="width:123px;">
                @Html.DisplayNameFor(model => model.Tipo)
            </td>
            <td style="width:123px">
                @Html.DisplayNameFor(model => model.Vuelo)
            </td>
            <td style="width:125px;">
                @Html.DisplayNameFor(model => model.Fecha)
            </td>
            @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("TECNOLOGIA") || User.IsInRole("OPAIN"))
            {
            <td style="width:123px;">
                @Html.DisplayNameFor(model => model.Hora)
            </td>
            }



            <td style="width:123px">
                @Html.DisplayNameFor(model => model.Matricula)
            </td>
            <td style="width:123px">
                Tasas reportadas
            </td>
            <td style="width:123px">
                Tasas cobradas
            </td>
            <td style="width:123px">
                Diferencia de tasas
            </td>
            <td style="width:123px">
                Detalle de la novedad
            </td>
            @if (User.IsInRole("ADMINISTRADOR") )
            {


            @*<th style="width:53px">
                    Todos <input class="styled-checkbox" id="chkSeleccionarTodos" type="checkbox" onclick="SeleccionarTodos(this);">
                    <label for="chkAprobarTodos"></label>
                </th>*@

            <!--<th style="width:53px">-->
                @*Todos <input class="styled-checkbox" id="chkAprobarTodos" type="checkbox">
                <label for="chkAprobarTodos"></label>*@
            <!--</th>-->

            }
            @*<th style="width: 133px;">
                    Descargar PDF
                </th>
                <th style="width: 133px;">
                    Descargar Excel
                </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vuelo)
            </td>
            <td>
                @item.Fecha.Day.ToString().PadLeft(2, '0')/@item.Fecha.Month.ToString().PadLeft(2, '0')/@item.Fecha.Year.ToString()
            </td>
            @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("TECNOLOGIA") || User.IsInRole("OPAIN"))
                {
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
                }

            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @*@(item.tasasReportadas)*@

                @{
                        int tasasnacionales = item.PagoCOP.ToString() == string.Empty ? 0 : int.Parse(item.PagoCOP.ToString());
                        int tasasinternacionales = item.PagoUSD.ToString() == string.Empty ? 0 : int.Parse(item.PagoUSD.ToString());
                }
                <!--(item.PagoCOP.ToString() !=null ? item.PagoCOP:0  + item.PagoUSD.ToString() != null ? item.PagoUSD:0)-->  @*tasa reportadas*@
                @(tasasnacionales+tasasinternacionales)

            </td>
            <td>
                @{
                        int tasasnacionales_liq = item.PAGOCOP_LIQ.ToString() == string.Empty ? 0 : int.Parse(item.PAGOCOP_LIQ.ToString());
                        int tasasinternacionales_liq = item.PAGOUSD_LIQ.ToString() == string.Empty ? 0 : int.Parse(item.PAGOUSD_LIQ.ToString());
                }

                <!--(item.PAGOCOP_LIQ != null ? item.PAGOCOP_LIQ:0 + item.PAGOUSD_LIQ != null ? item.PAGOUSD_LIQ :0)-->  @*Tasas cobradas*@
                @(tasasnacionales_liq+tasasinternacionales_liq)
            </td>
            <td>

                @ValorABS((tasasnacionales+tasasinternacionales)-(tasasnacionales_liq+tasasinternacionales_liq))

            </td>

            <td>
                <button class="btn btn--simple" data-toggle="modal" data-target=".detalle-novedad">
                    <img src="~/images/buscar.png" alt="Detalles de la novedad" onclick="ConsultarNovedades(@item.Id)" ; />
                </button>
            </td>
            @if (User.IsInRole("ADMINISTRADOR") )
            {

            @*<td style="width:123px;">
                    <input class="styled-checkbox" id="chkAprobarTodoaaaas" type="checkbox">
                    <label for="chkAprobarTodos"></label>
                </td>*@

            <!--<td>-->

                @*<input class="styled-checkbox chekInt" id="chkAprobar-@item.Id" name="chkAprobar[]" type="checkbox" value="@item.Id">
                <label for="chkAprobar-@item.Id"></label>*@
            <!--</td>-->

            }
            @*<td>
                    <button class="btn btn--simple">
                        <img src="~/images/pdf.png" alt="Descargar PDF" onclick="DescargarPDF()" ; />
                    </button>
                </td>
                <td>
                    <button class="btn btn--simple">
                        <img src="~/images/xls.png" alt="Descargar PDF" onclick="DescargarExcel()" ; />
                    </button>
                </td>*@
        </tr>
        }
    </tbody>
</table>

<script src="~/lib/DataTables/DataTables-1.10.18/js/dataTables.checkboxes.min.js"></script>

<script type='text/javascript'>


    $(document).ready(function () {

        var tablePaginacion = $('#tblConsultaVuelos').DataTable({
            search: { return: true, },
            language: { "url": "http://cdn.datatables.net/plug-ins/1.13.1/i18n/es-ES.json" },


            columnDefs: [
                {
                    'targets': 9,
                    'checkboxes': {
                        'selectRow': true
                    }
                }
            ],
            select: {
                'style': 'multi'
            },
            order: [[1, 'asc']]
            ,



        });

        var rows_selected = tablePaginacion.column(0).checkboxes.selected(0);
        var items = [];
        // seleccion de rows Tablas
        $.each(rows_selected, function (index, rowId) {
            items.push({ "IdGeneracion": rowId });
        });


        function SeleccionarTodos(todos) {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] != todos)
                    checkboxes[i].checked = todos.checked;
            }
        }

    });

</script>