@model IEnumerable<Opain.Jarvis.Dominio.Entidades.OperacionVueloOtd>

@{
    int ValorABS(int diferenciaDeTasas)
    {
        return Math.Abs(diferenciaDeTasas);
    }
}

<style>
    #hider {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 1000px;
        height: 800px;
        margin-top: -800px; /*set to a negative number 1/2 of your height*/
        margin-left: -500px; /*set to a negative number 1/2 of your width*/
        /*
        z- index must be lower than pop up box
       */
        z-index: 99;
        /*background-color: #cecece;
        opacity:0.95;*/
    }

    #popup_box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10em;
        height: 10em;
        margin-top: -5em; /*set to a negative number 1/2 of your height*/
        margin-left: -5em; /*set to a negative number 1/2 of your width*/
        border: 0px solid #ccc;
        border: 0px solid black;
        z-index: 100;
    }
</style>


<div id="popup_box">
    <div class="globo"></div>
    Por favor espera un momento, estamos realizando la operación...
</div>
<div id="content">
    <div id="hider">
    </div>
</div>
<div id="divCargarNovedades">

</div>
<div id="OcultarFormulario">

    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <input style="visibility:hidden" type="text" id="Esperando" value="0" name="Esperando" />
                    @*<button type="button" class="btn btn--border" onclick="DescargarPDF()"> <img src="~/images/descargar.png" alt="Descargar PDF" /> Descargar PDF</button>
                        <button type="button" class="btn btn--border" onclick="DescargarExcel()"> <img src="~/images/descargar.png" alt="Descargar Excel" /> Descargar excel</button>*@

                </div>
                @if (User.IsInRole("ADMINISTRADOR"))
                {
                    <div class="col-sm-12">
                        <button type="button" class="btn btn--border float-right" onclick="EnviarEmailNotificacion()" id="EnviarEmailNotificacion"> <img src="~/images/correo.png" alt="Email" /> Enviar Email.</button>
                    </div>
                }

            </div>
        </div>
    </div>

    <table class="mt-4 mb-3" cellspacing="0" cellpadding="0" width="100%" id="NotificacionVuelosProcesados">
        <thead>
            <tr>
                <th></th>
                <td style="width:123px;">
                    @Html.DisplayNameFor(model => model.IdAerolinea)
                </td>
                <td style="width:123px;">
                    @Html.DisplayNameFor(model => model.Id)
                </td>
                <td style="width:123px;">
                    @Html.DisplayNameFor(model => model.Tipo)
                </td>
                <td style="width:123px">
                    @Html.DisplayNameFor(model => model.Vuelo)
                </td>
                <td style="width:125px;">
                    @Html.DisplayNameFor(model => model.Fecha)
                </td>
                @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("TECNOLOGIA") || User.IsInRole("OPAIN"))
                {
                    <td style="width:123px;">
                        @Html.DisplayNameFor(model => model.Hora)
                    </td>
                }

                <td style="width:123px">
                    @Html.DisplayNameFor(model => model.Matricula)
                </td>
                <td style="width:123px">
                    Tasas reportadas
                </td>
                <td style="width:123px">
                    Tasas cobradas
                </td>
                <td style="width:123px">
                    Diferencia de tasas
                </td>
                <td style="width:123px">
                    Detalle de la novedad
                </td>
                @if (User.IsInRole("ADMINISTRADOR"))
                {
                    <th style="width:53px">
                        Todos <input class="styled-checkbox" id="chkAprobarTodos" type="checkbox" onclick="SeleccionarTodos(this);">
                        <label for="chkAprobarTodos"></label>
                    </th>

                }

            </tr>
        </thead>
        <tbody>
            @{
                int fila = 0;
            }
            @foreach (var item in Model)
            {
            <tr>
                @{
                    string idchk = "chk" + item.Id;
                    string idhd = "hd" + item.Id;
                    int tasasnacionales = item.PagoCOP.ToString() == string.Empty ? 0 : int.Parse(item.PagoCOP.ToString());
                    int tasasinternacionales = item.PagoUSD.ToString() == string.Empty ? 0 : int.Parse(item.PagoUSD.ToString());

                    int tasasnacionales_liq = item.PAGOCOP_LIQ.ToString() == string.Empty ? 0 : int.Parse(item.PAGOCOP_LIQ.ToString());
                    int tasasinternacionales_liq = item.PAGOUSD_LIQ.ToString() == string.Empty ? 0 : int.Parse(item.PAGOUSD_LIQ.ToString());

                    int valorABS = ValorABS((tasasnacionales + tasasinternacionales) - (tasasnacionales_liq + tasasinternacionales_liq));
                    string dto = item.IdAerolinea.ToString() + "," +
                        item.Id.ToString() + "," +
                        item.Tipo.ToString() + "," +
                        item.Vuelo.ToString() + "," +
                        item.Fecha.Day.ToString().PadLeft(2, '0') + "/" + 
                        item.Fecha.Month.ToString().PadLeft(2, '0') + "/" +
                        item.Fecha.Year.ToString() + "," +
                        item.Hora + "," +
                        item.Matricula + "," +
                        (tasasnacionales + tasasinternacionales).ToString() + "," +
                        (tasasnacionales_liq + tasasinternacionales_liq).ToString() + "," +
                        valorABS.ToString();
                }
                <td>                   
                </td>
                <td>                    
                    @Html.DisplayFor(modelItem => item.IdAerolinea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <input type="hidden" 
                           id="@idhd" 
                           value="@dto" />                       
                   
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vuelo)
                </td>
                <td>
                    @item.Fecha.Day.ToString().PadLeft(2, '0')/@item.Fecha.Month.ToString().PadLeft(2, '0')/@item.Fecha.Year.ToString()
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.Hora)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @(tasasnacionales + tasasinternacionales)

                </td>
                <td>                   
                    @(tasasnacionales_liq + tasasinternacionales_liq)
                </td>
                <td>
                    @valorABS
                </td>
                <td>
                    <button class="btn btn--simple" data-toggle="modal" data-target=".detalle-novedad">
                        <img src="~/images/buscar.png" alt="Detalles de la novedad" onclick="javascript:ConsultarNovedades(@item.Id);" />
                    </button>
                </td>
                @if (User.IsInRole("ADMINISTRADOR"))
                {
                    <td>
                        <div class="form-check">

                            <label class="form-check-label" for="@item.EnvioNotificacion" asp-validation-for="@item.EnvioNotificacion"></label>
                            <input class="form-check-input" name="@item.EnvioNotificacion"
                                   type="checkbox" value="@item.EnvioNotificacion"
                                   id="@idchk" onclick="javascript:sel(@idchk,@idhd);">
                        </div>
                    </td>
                }
            </tr>
                fila++;
            }
        </tbody>
    </table>
</div>
<input type="text" id="myInput" value="" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type='text/javascript'>

    //$.fn.dataTable.ext.buttons.selectAllSearchApplied = {
    //    text: "the buttons label",
    //action: function (e, dt, button, config) {
    //        dt.rows({ search: 'applied' }).select();
    //    }
    //};


    // #myInput is a <input type="text"> element

    var ItemsSel = [];

    function sel(idElemchk, idElemtxt) {
        var chk = idElemchk;
        var ID = idElemchk.id.replace('chk', '');
        var txt = idElemtxt;        
        if (chk.checked) {
            var oR = txt.value.split(',');
            var oExiste = ItemsSel.findIndex(item => item.Id == ID);
            if (oExiste == -1) {
                ItemsSel.push(
                    {
                        "IdAerolinea": oR[0],
                        "Id": oR[1],
                        "Tipo": oR[2],
                        "NumeroVuelo": oR[3],
                        "FechaVuelo": oR[4],
                        "HoraVuelo": oR[5],
                        "NumeroMatricula": oR[6],
                        "TasasReportadas": oR[7],
                        "TasasCobradas": oR[8],
                        "DiferenciaDeTasas": oR[9],
                        "EnvioNotificacion": "1"
                    }
                );
            }
        }
        else {
            ItemsSel.splice(ItemsSel.findIndex(item => item.Id == ID), 1);
            console.log("Eliminado : " + ID);
        }
    }

    function SeleccionarTodos(todos) {
        var longitudcheckboxes = @fila;        
        //tableP.page.len(@fila).draw();
        // table.page.lengthMenu
        var lSearch = $('input[type="search"]');
        var oSearch = lSearch[1].value;
        tableP.page.len(@fila).draw();
        tableP.search(oSearch).draw();
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        if (!todos.checked) {
            //tableP.rows().deselect();
            for (var i = 1; i < checkboxes.length; i++) {
                checkboxes[i].checked = todos.checked;
                var ID = checkboxes[i].id.replace('chk', '');
                nChk = "chk" + ID;
                nTxt = "hd" + ID;
                var oChk = document.getElementById(nChk);
                var oTxt = document.getElementById(nTxt);
                sel(oChk, oTxt);
            }
        }
        else {
            tableP.page.len(checkboxes.length - 1).draw();
            var ID = "";
            var nChk;
            var nTxt
            for (var i = 1; i < checkboxes.length; i++) {
                checkboxes[i].checked = todos.checked;
                var ID = checkboxes[i].id.replace('chk', '');
                nChk = "chk" + ID;
                nTxt = "hd" + ID;
                var oChk = document.getElementById(nChk);
                var oTxt = document.getElementById(nTxt);
                sel(oChk, oTxt);
                //tableP.rows().select();
            }           
        }
        tableP.page.len(10).draw();
    }

    function EnviarEmailNotificacion() {
        if (ItemsSel.length>0) {
            alert("Ha seleccionado " + ItemsSel.length + " vuelos para ser notificados.");            
            // seleccion de rows Tablas           
            
            document.getElementById("Esperando").value = 1;

            $.ajax({
                type: 'POST',
                url: "/Administracion/AdmonGeneral/EnviarNoti",
                data: { registros: ItemsSel },
                success: function (data) {
                    if (data) {
                        document.getElementById("Esperando").value = 2; 
                        console.log('Los datos de las notificaciones fueron guardados correctamente');
                    }
                    else {
                        console.log('Error al guardar los datos de las Notificaciones.');
                    }
                },
                error: function (data) { console.log('Error al guardar los datos de las Notificaciones.'); }
            });                    
        }
        else { alert("No ha seleccionado nada Porfavor seleccionar y chequear Notificacion!");}
    }

    function callReload()
    {
        var ctrlSpin = document.getElementById("Esperando").value;
        if (ctrlSpin == "2") {
            $("#myModaSpin").hide();
            console.log("Ya termino");
            document.getElementById("Esperando").value = 0;
            $("#hider").fadeOut("slow");
            $('#popup_box').fadeOut("slow");
            window.location.assign('/Administracion/AdmonGeneral/Principal');
        } else if (ctrlSpin == "1") {
            $("#hider").fadeIn("slow");
            $('#popup_box').fadeIn("slow");
            console.log("Un momento " + ctrlSpin);
        }
    }
    var fn = function () {
        callReload();
    };
    var repeticiones = setInterval(fn, 1000);
   /* $("#Esperando")..change(function () {
        callReload();
    });*/

    $(document).ready(function () {
        //hide hider and popup_box
        $("#hider").hide();
        $("#popup_box").hide();
    });
       

</script>