@model IEnumerable<Opain.Jarvis.Dominio.Entidades.PasajeroTransitoOtd>

<table class="table" id="tblRecibidos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaLlegada)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraLlegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroVueloLlegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origen)
            </th>
            <th class=".fchSal">
                @Html.DisplayNameFor(model => model.FechaSalida)
            </th>
            <th class=".horSal">
                @Html.DisplayNameFor(model => model.HoraSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroVueloSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePasajero)
            </th>
            <th>
                Tiempo restante para aprobar
            </th>
            <th>
                Estado
                @*@Html.DisplayNameFor(model => model.Firmado)*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FechaLlegada.Day.ToString().PadLeft(2, '0')/@item.FechaLlegada.Month.ToString().PadLeft(2, '0')/@item.FechaLlegada.Year.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraLlegada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroVueloLlegada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origen)
                </td>
                <td>
                    @item.FechaSalida.Day.ToString().PadLeft(2, '0')/@item.FechaSalida.Month.ToString().PadLeft(2, '0')/@item.FechaSalida.Year.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraSalida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroVueloSalida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePasajero)
                </td>
                <td>
                    <div class="tooltip">
                        @if (item.Firmado == 0)
                        {

                            <img src="~/images/alerta.png" alt="Queda poco tiempo" />
                            <span class="tooltiptext">Queda poco tiempo para aprobar</span>

                        }
                    </div>
                    <div class="tooltip__time">
                        @if (item.FechaHoraCargue.AddDays(1).Subtract(DateTime.Now).Hours < 0)
                        {
                            <span>-@((item.FechaHoraCargue.AddDays(1).Subtract(DateTime.Now).Hours * (-1)).ToString().PadLeft(2, '0')):@(Math.Abs(item.FechaHoraCargue.AddDays(1).Subtract(DateTime.Now).Minutes).ToString().PadLeft(2, '0'))</span>
                        }
                        else
                        {
                            <span>@((item.FechaHoraCargue.AddDays(1).Subtract(DateTime.Now).Hours).ToString().PadLeft(2,'0')):@(item.FechaHoraCargue.AddDays(1).Subtract(DateTime.Now).Minutes.ToString().PadLeft(2,'0'))</span>
                        }


                    </div>


                </td>
                <td>
                    @if (item.Firmado == 1)
                    {
                        <img src="/images/ok.png" alt="Finalizado">
                        <label>Firmado</label>
                    }
                    else if (item.Firmado == 2)
                    {
                        <img src="~/images/buscar.png" style="cursor:pointer" width="20" height="20" onclick="MostrarObs(@item.Id);" alt="Rechazado">
                        <label>Rechazado</label>
                    }
                    else
                    {
                        <img src="/images/nulo.png" alt="Pendiente">
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<button type="button" class="btn btn--default btn-block mt-3 mb-5" style="display:none" id="btnconfirmaFirmamensaje" data-toggle="modal" data-target=".RechazadosV">v</button>
<div class="modal fade RechazadosV" id="modalMensajerec22" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true" style="margin-right:0px!important; padding-right:0px!important">
    <div class="modal-dialog modal--full">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="col-sm-6 offset-sm-3">
                        <p>
                            <img src="~/images/advertencia.png" alt="Advertencia" />
                        </p>
                        <p>
                            Observación de rechazo:<br /><br />
                            <label id="lblmensa"></label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2">
                            <button type="button" class="btn btn--default btn-block" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
