@model Opain.Jarvis.Dominio.Entidades.PasajeroTransitoOtd

    <h1>
        INSERTAR TR&aacute;NSITO
    </h1>

<div class="row">
    <div class="col-12">
        <div class="row">
            <input type="hidden" asp-for="Operacion" value="@ViewData["IdOperacion"]" />

            <input type="hidden" asp-for="TTC" />
            <input type="hidden" asp-for="TTL" />
            <div class="form-group col-6">
                <label asp-for="FechaLlegada" class="control-label"></label>
                <input asp-for="FechaLlegada" value="@ViewBag.fechalleDef" class="form-control" onblur="myFunctionLlegada()" />
                <span asp-validation-for="FechaLlegada" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="HoraLlegada" class="control-label"></label>
                <input asp-for="HoraLlegada" readonly type="text" class="form-control trnHoraLlegada" />
                <span asp-validation-for="HoraLlegada" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label asp-for="NumeroVueloLlegada" class="control-label"></label>
                <input asp-for="NumeroVueloLlegada" class="form-control" onkeypress="return check(event)" />
                <span asp-validation-for="NumeroVueloLlegada" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="Origen" class="control-label"></label>
                <input asp-for="Origen" class="form-control" />
                <span asp-validation-for="Origen" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" value="@ViewBag.fechalleDef" class="form-control" onblur="myFunction()" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="HoraSalida" control-label"></label>
                <input asp-for="HoraSalida" readonly type="text" class="form-control trnHoraSalida" />
                <span asp-validation-for="HoraSalida" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label asp-for="NumeroVueloSalida" class="control-label"></label>
                <input asp-for="NumeroVueloSalida" class="form-control" onkeypress="return check(event)" />
                <span asp-validation-for="NumeroVueloSalida" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label for="DestinoTransito" class="control-label">Destino</label>
                <input name="DestinoTransito" id="DestinoTransito" class="form-control" onkeypress="return check(event)" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label asp-for="NombrePasajero" class="control-label"></label>
                <input asp-for="NombrePasajero" class="form-control" />
                <span asp-validation-for="NombrePasajero" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label for="Categoria" class="control-label">Categoría</label>
                <select id="Categoria" @*onchange="CambioTipo();*@ " name="Categoria" class="form-control">
                    <option value="TTL">Tr&aacute;nsito en Línea</option>
                    <option value="TTC">Tr&aacute;nsito en Conexión</option>
                </select>
            </div>
        </div>
        @*<div class="row" id="divaerolinea" style="display:none">
            <div class="form-group col-6">
                <label for="AerolineaLlegada" class="control-label">Aerolínea de llegada</label>
                <select id="AerolineaLlegada" name="AerolineaLlegada" class="form-control">
                    @foreach (var item in (List<SelectListItem>)ViewData["Aerolineas"])
                    {
                        <option value="@item.Value">@item.Text</option>

                    }

                </select>


            </div>
        </div>*@
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn--default--grey btn-block" data-dismiss="modal">Cancelar</button>
            </div>
            <div class="form-group col-6">
                <button type="button" onclick="InsertarTransitoPost(@ViewData["IdOperacion"]);" class="btn btn--default btn-block">Insertar</button>
            </div>
        </div>
        <div class="alert-danger" id="divMensajeAlert"></div>
        <div class="alert-danger" id="divMensajeAlertFecha"></div>

    </div>
</div>


<script type="text/javascript">
    function myFunctionLlegada() {
        var hoy = new Date();
        var fechaFormulario = new Date($('#FechaLlegada').val());

        hoy.setHours(0, 0, 0, 0);

        if (hoy <= fechaFormulario) {

            document.getElementById('divMensajeAlertFecha').innerHTML = '<div class="alert alert-dark fade show" role="alert"><strong>Error </strong> La fecha no puede ser mayor a la actual.</div>';
            $('#FechaLlegada').val("");
        }
        else {
            document.getElementById('divMensajeAlertFecha').innerHTML = '';
        }
    }
    function myFunction() {
        var hoy = new Date();
        var fechaFormulario = new Date($('#FechaSalida').val());

        hoy.setHours(0, 0, 0, 0);

        if (hoy <= fechaFormulario) {

            document.getElementById('divMensajeAlertFecha').innerHTML = '<div class="alert alert-dark fade show" role="alert"><strong>Error </strong> La fecha no puede ser mayor a la actual.</div>';
            $('#FechaSalida').val("");
        }
        else {
            document.getElementById('divMensajeAlertFecha').innerHTML = '';
        }
    }
    $(document).ready(function () {        

            $(".trnHoraLlegada").timepicker({
                'timeFormat': 'H:i:s'
            });

        $(".trnHoraLlegada").on("click", function () {
            $(this).parent().find(".gj-icon").trigger('click');
        });

            $(".trnHoraSalida").timepicker({
                'timeFormat': 'H:i:s'
            });


        $(".trnHoraSalida").on("click", function () {
            $(this).parent().find(".gj-icon").trigger('click');
        });
    });

    function CambioTipo() {
        var category = $("#Categoria").val();
   
        if (category == 'TTC') {
            $("#divaerolinea").css("display", "block");
        } else {
             $("#divaerolinea").css("display", "none");
        }
        }

    function validarFechaMenorActual(date){
      var x=new Date();
      var fecha = date.split("/");
      x.setFullYear(fecha[2],fecha[1]-1,fecha[0]);
      var today = new Date();
 
      if (x >= today)
        return false;
      else
        return true;
}
</script>