@model IEnumerable<Opain.Jarvis.Dominio.Entidades.AerolineaOtd>

<table id="example2" class="nowrap" style="width:100%">
    <thead>
        <tr>
            <td>
                <div class="row">
                    <div class="col-4">
                        Nombre de aerolínea
                    </div>
                    <div class="col-2">
                        Cantidad de Usuarios
                    </div>
                    <div class="col-2">
                        Cargue pasajeros
                    </div>
                    <div class="col-2">
                        Activar
                    </div>
                    <div class="col-2">
                        Acciones
                    </div>
                </div>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <form asp-action="Actualizar" method="post">
                        <div class="row">
                            <div class="col-4">
                                <input type="hidden" id="Nombre" name="Nombre" value="@item.Nombre" />
                                <input type="hidden" id="Id" name="Id" value="@item.Id" />
                                <input type="hidden" id="Codigo" name="Codigo" value="@item.Codigo" />
                                <input type="hidden" id="Sigla" name="Sigla" value="@item.Sigla" />

                                @item.Nombre
                            </div>
                            <div class="col-2">
                                <input type="number" name="CantidadUsuarios" value="@item.CantidadUsuarios" id="@item.CantidadUsuarios" />
                            </div>
                            <div class="col-2">
                                <select id="PDFPasajeros" name="PDFPasajeros">
                                    @if (item.PDFPasajeros == "0")
                                    {
                                        <option value="0" selected>Archivo Plano</option>
                                        <option value="1">PDF</option>
                                        <option value="2">Combinado</option>
                                    }
                                    else if (item.PDFPasajeros == "1")
                                    {
                                        <option value="0">Archivo Plano</option>
                                        <option value="1" selected>PDF</option>
                                        <option value="2">Combinado</option>
                                    }
                                    else
                                    {
                                        <option value="0">Archivo Plano </option>
                                        <option value="1">PDF </option>
                                        <option value="2" selected>Combinado</option>

                                    }


                                </select>
                                @*<label class="switch">

                                        @if (item.PDFPasajeros == "True")
                                        {
                                            <input type="checkbox" checked id="PDFPasajeros" name="PDFPasajeros">
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="PDFPasajeros" name="PDFPasajeros">
                                        }
                                        <span class="slider round">
                                            <span>Activo</span>
                                        </span>
                                        <span class="absolute-no">Inactivo</span>
                                    </label>*@
                            </div>
                            <div class="col-2">
                                <label class="switch">
                                    @if (item.IdEstado == "True")
                                    {
                                        <input type="checkbox" checked id="IdEstado" name="IdEstado">
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="IdEstado" name="IdEstado">
                                    }
                                    <span class="slider round">
                                        <span>Activo</span>
                                    </span>
                                    <span class="absolute-no">Inactivo</span>
                                </label>
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn--border">
                                    <img src="/images/guardar.png" alt="Guardar cambios" class="img-fluid mr-2 ml-2">Guardar cambios
                                </button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>
@section Scripts
{
    <script type="text/javascript">
        $("#example2").dataTable();
        $.extend(true, $.fn.dataTable.defaults, {
    //"lengthChange": false,
    "language": {
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
    }
});
    </script>
}

