@model List<Opain.Jarvis.Dominio.Entidades.Anexo9>
@inject Opain.Jarvis.Presentacion.Web.Helpers.ServicioComboBox ServicioComboBox

@{
    ViewData["Title"] = "Infrasas Infantes";
    List<Opain.Jarvis.Presentacion.Web.Helpers.TextoValor> Aerolineas = ServicioComboBox.TraerAerolineas();
    List<Opain.Jarvis.Presentacion.Web.Helpers.TextoValor> Estados = ServicioComboBox.TraerEstados();
    List<Opain.Jarvis.Presentacion.Web.Helpers.TextoValor> TiposVuelo = ServicioComboBox.TraerTiposVuelos();
}

<h1>Infrasas Infantes</h1>

<partial name="Menu" />

<div class="sin__contenido mb-5">
    <form asp-action="InfrasasInfantes" method="post" id="Accion">
        @Html.AntiForgeryToken()
        <div class="bg--white">

            @*<div class="row">
                    <div class="col-sm-3 pt-2">
                        Aerolinea:
                    </div>
                    <div class="col-sm-9">
                        <div class="form-inline float-right">
                            <div class="form-group">
                                <select class="form-control" name="aerolinea">
                                    @foreach (Opain.Jarvis.Presentacion.Web.Helpers.TextoValor Tipo in Aerolineas)
                                    {
                                        bool Seleccionado = Tipo.Valor.Equals(ViewBag.aerolinea);
                                        <option value="@Tipo.Valor" selected="@Seleccionado">@Html.Raw(Tipo.Texto)</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />*@
            <div class="row">
                <div class="col-sm-3 pt-2">
                    Tipo Vuelo:
                </div>
                <div class="col-sm-9">
                    <div class="form-inline float-right">
                        <div class="form-group">
                            <select class="form-control" name="tipoVuelo">
                                @foreach (Opain.Jarvis.Presentacion.Web.Helpers.TextoValor Tipo in TiposVuelo)
                                {
                                    bool Seleccionado = Tipo.Valor.Equals(ViewBag.tipoVuelo);
                                    <option value="@Tipo.Valor" selected="@Seleccionado">@Html.Raw(Tipo.Texto)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-3 pt-2">
                    Estado:
                </div>
                <div class="col-sm-9">
                    <div class="form-inline float-right">
                        <div class="form-group">
                            <select class="form-control" name="estado">
                                @foreach (Opain.Jarvis.Presentacion.Web.Helpers.TextoValor Tipo in Estados)
                                {
                                    bool Seleccionado = Tipo.Valor.Equals(ViewBag.estado);
                                    <option value="@Tipo.Valor" selected="@Seleccionado">@Html.Raw(Tipo.Texto)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row" id="divFiltro">
                <div class="col-sm-3 pt-2">
                    Seleccione las fechas:
                </div>
                <div class="col-sm-9">
                    <div class="form-inline float-right">
                        <div class="form-group  search__date--width">
                            <img src="~/images/novedad-calendario.png" alt="" />
                            <input id="startDate" readonly name="startDate" class="text-center" placeholder="Fecha inicial" aria-describedby="validationTooltipUsernamePrepend" required autocomplete="off" value="@ViewBag.startDate" /> - <input id="endDate" readonly name="endDate" class="text-center" placeholder="Fecha final" aria-describedby="validationTooltipUsernamePrepend" required autocomplete="off" value="@ViewBag.endDate" />
                            <div class="invalid-tooltip">
                                Por favor escriba o seleccione una fecha valida
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline float-right">
                        <button type="button" class="btn btn--border ml-2" id="btnBuscar">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    @if (ViewBag.Error != null)
    {
        <div class="bg--white mb-5">
            @ViewBag.Error
        </div>
    }

    @if (Model.Count > 0)
    {
<div class="bg--white mb-5">
    A continuación se muestra el resultado de su búsqueda
    <hr />
    <div class="table-responsive">
        <table class="table" id="tblConsultasII">
            <thead>
                <tr>
                    <th>Fecha Salida</th>
                    <th>Matrícula Aeronave</th>
                    <th>Tipo Vuelo</th>
                    <th>Sigla</th>
                    <th>Número Vuelo</th>
                    <th>Embarc.</th>
                    <th>Tránsito</th>
                    <th>Linea</th>
                    <th>Conexión</th>
                    <th>Loc.</th>
                    <th>Exe</th>
                    <th>Inf</th>
                    <th>Pagan Tasa</th>
                    @if (ViewBag.tipoVuelo == "NAL")
                    {
                        <th>Pagan COP</th>
                    }
                    @if (ViewBag.tipoVuelo == "INT")
                    {
                        <th>Pagan USD</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (Opain.Jarvis.Dominio.Entidades.Anexo9 registro in Model)
                {
                    <tr>
                        <td>@registro.FechaSalida</td>
                        <td>@registro.MatriculaAeronave</td>
                        <td>@registro.TipoVuelo</td>
                        <td>@registro.Sigla</td>
                        <td>@registro.NumeroVuelo</td>
                        <td>@registro.Embarc</td>
                        <td>@registro.Transito</td>
                        <td>@registro.Linea</td>
                        <td>@registro.Conexion</td>
                        <td>@registro.Loc</td>
                        <td>@registro.Exe</td>
                        <td>@registro.Inf</td>
                        <td>@registro.PaganTasa</td>
                        @if (ViewBag.tipoVuelo == "NAL")
                        {
                            <td>@registro.PaganCOP</td>
                        } @if (ViewBag.tipoVuelo == "INT")
                        {
                            <td>@registro.PaganUSD</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    }
</div>

@section scripts
{
    <script>
        $("#btnBuscar").click(function (event) {
            event.preventDefault();

            var fechaInicial = $("#startDate").val();
            var fechaFinal = $("#endDate").val();

            if (fechaInicial === "") {
                alert("Fecha inicial se encuentra vacia.");
                return false;
            }

            if (fechaFinal === "") {
                alert("Fecha final se encuentra vacia.");
                return false;
            }

            $("#Accion").submit()
            return true;

        });
    </script>

    <script>
        $("#tblConsultasII").DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
                    }
                },
            ]
        });
    </script>
}