
<div class="menu__informes">
    <ul class="nav nav-tabs d-flex flex-wrap">

        <li class="nav-item dropdown" style="width:16.6%">
            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Infrasa
            </a>

            <div class="dropdown-menu">
                <a href="#" class="dropdown-item other">Informes</a>
                <ul>
                    <li><a class="dropdown-item" asp-controller="Informes" asp-action="DetallesVuelosInterventoriaInfrasa" asp-route-id="@Guid.NewGuid()">Infrasa</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item" style="width:16.6%">
            <a class="nav-link" asp-controller="Informes" asp-action="InformeCobro" asp-route-id="@Guid.NewGuid()">Cobro</a>
        </li>

        <li class="nav-item dropdown" style="width:16.6%">
            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Anexos
            </a>
            <div class="dropdown-menu">
                <div class="dropdown-item">Fuentes</div>
                <ul>
                    @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN") || User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR") || User.IsInRole("SUPERVISOR CARGA"))
                    {
                        <li><a class="dropdown-item" asp-controller="Informes" asp-action="PuenteAbordaje" asp-route-id="@Guid.NewGuid()">Puente de Abordaje</a></li>
                    }
                    @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN") || User.IsInRole("AEROLINEA") || User.IsInRole("CARGA") || User.IsInRole("SUPERVISOR") || User.IsInRole("SUPERVISOR CARGA"))
                    {
                        <li><a class="dropdown-item" asp-controller="Informes" asp-action="ParqueoAeronaves" asp-route-id="@Guid.NewGuid()">Parqueo Aeronaves</a></li>
                    }
                    @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN") || User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR") || User.IsInRole("SUPERVISOR CARGA"))
                    {
                        <li><a class="dropdown-item" asp-controller="Informes" asp-action="TasasAeroportuariasCOP" asp-route-id="@Guid.NewGuid()">Tasas Aeroportuarias COP</a></li>
                    }
                    @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN") || User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR") || User.IsInRole("SUPERVISOR CARGA"))
                    {
                        <li><a class="dropdown-item" asp-controller="Informes" asp-action="TasasAeroportuariasUSD" asp-route-id="@Guid.NewGuid()">Tasas Aeroportuarias USD</a></li>
                    }
                    @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN") || User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR") || User.IsInRole("SUPERVISOR CARGA"))
                    {
                        <li><a class="dropdown-item" asp-controller="Informes" asp-action="Mostradores" asp-route-id="@Guid.NewGuid()">Mostradores</a></li>
                    }
                    @*
                            Autor:Luis Ernesto Cantin Oviedo
                            Modificacion: 29/112021
                            Descripcion:Se desea  quitar de la opción de anexos
                            @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN"))
                            {
                                <li><a class="dropdown-item" asp-controller="Informes" asp-action="DetallesVuelosInterventoria" asp-route-id="@Guid.NewGuid()">Detalles Vuelos Interventoria</a></li>
                            }

                            @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN"))
                            {
                                <li><a class="dropdown-item" asp-controller="Informes" asp-action="ResumenDetalleTasasAeroportuariasFacturadas" asp-route-id="@Guid.NewGuid()">Resumen Detalle Tasas Aeroportuarias Facturadas</a></li>
                            }
                    *@
                    @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN") || User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR") || User.IsInRole("SUPERVISOR CARGA"))
                    {
                        <li><a class="dropdown-item" asp-controller="Informes" asp-action="UsoCarroBomberos" asp-route-id="@Guid.NewGuid()">Uso Carro Bomberos</a></li>
                    }
                    @*@if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN"))
        {
        <li><a class="dropdown-item" asp-controller="Informes" asp-action="InfrasasInfantes" asp-route-id="@Guid.NewGuid()">Infrasas Infantes</a></li>
        }*@
                    @*
                            Autor:Luis Ernesto Cantin Oviedo
                            Modificacion: 29/112021
                            Descripcion:Se desea  quitar de la opción de anexos
                            @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN"))
                            {
                                <li><a class="dropdown-item" asp-controller="Informes" asp-action="ResumenTasasAeroportuariasFacturadas" asp-route-id="@Guid.NewGuid()">Resumen Tasas Aeroportuarias Facturadas</a></li>
                            }

                            @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN"))
                            {
                                <li><a class="dropdown-item" asp-controller="Informes" asp-action="TasasAeroportuariasFacturadasporAerolinea" asp-route-id="@Guid.NewGuid()">Tasas Aeroportuarias Facturadas por Aerolinea</a></li>
                            }
                    *@
                    @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN"))
                    {
                        <li><a class="dropdown-item" asp-controller="Informes" asp-action="SoportesExencionesTasasAeroportuarias" asp-route-id="@Guid.NewGuid()">Soportes Exenciones Tasas Aeroportuarias</a></li>
                    }
                    @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN") || User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR") || User.IsInRole("SUPERVISOR CARGA"))
                    {
                        <li><a class="dropdown-item" asp-controller="Informes" asp-action="FacturacionParqueosAmplicacionLA33" asp-route-id="@Guid.NewGuid()">Facturación Parqueos Ampliación LA33</a></li>
                    }
                    @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN") || User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR") || User.IsInRole("SUPERVISOR CARGA"))
                    {
                        <li><a class="dropdown-item" asp-controller="Informes" asp-action="FacturacionParqueosAmplicacionLA33100" asp-route-id="@Guid.NewGuid()">Facturación Parqueos Ampliación LA33 - 100%</a></li>
                    }
                    @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN") || User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR") || User.IsInRole("SUPERVISOR CARGA"))
                    {
                        <li><a class="dropdown-item" asp-controller="Informes" asp-action="FacturacionAmplicacionLA33PuentesAbordaje" asp-route-id="@Guid.NewGuid()">Facturación Ampliación LA33 - Puentes de Abordaje</a></li>
                    }
                    @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN") || User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR") || User.IsInRole("SUPERVISOR CARGA"))
                    {
                        <li><a class="dropdown-item" asp-controller="Informes" asp-action="GPU" asp-route-id="@Guid.NewGuid()">GPU</a></li>
                    }
                    @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN") || User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR") || User.IsInRole("SUPERVISOR CARGA"))
                    {
                        <li><a class="dropdown-item" asp-controller="Informes" asp-action="GPUAerocivil" asp-route-id="@Guid.NewGuid()">GPU Aerocivil</a></li>
                    }
                    @if (User.IsInRole("ADMINISTRADOR") || User.IsInRole("EXTERNO") || User.IsInRole("OPAIN"))
                    {
                        <li><a class="dropdown-item" asp-controller="Informes" asp-action="InformeCarnetizacion" asp-route-id="@Guid.NewGuid()">Informe Carnetización</a></li>
                    }
                </ul>
                    </div>
                </li>
                <li class="nav-item dropdown" style="width:16.6%">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Facturas
                    </a>
                    <div class="dropdown-menu">
                        <a href="@ViewData["UrlPsePagos"]" target="_blank" class="dropdown-item">Pagar por <img src="~/images/logo-pse.png" alt="Pago por PSE" class="img-fluid" /></a>
                    </div>
                </li>
                @if (User.IsInRole("ADMINISTRADOR"))
                {
                    <li class="nav-item dropdown" style="width:16.6%">
                        <a href="" class="nav-link dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Estadísticas
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-item">
                                Actividad de usuarios
                            </div>
                            <ul>
                                <li><a href="#" class="dropdown-item" onclick="Informe('INGRESOS');">Ingresos</a></li>
                                <li><a href="#" class="dropdown-item" onclick="Informe('CARGUE');">Cargue de archivos</a></li>
                                <li><a href="#" class="dropdown-item" onclick="Informe('HORAS');">Horas de ingresos</a></li>
                                <li><a class="dropdown-item" asp-controller="Informes" asp-action="InformeTickets" asp-route-id="@Guid.NewGuid()">Informe de tickets</a></li>
                            </ul>

                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item">
                                Actividad de aerolíneas
                            </div>
                            <ul>
                                <li><a href="#" class="dropdown-item" onclick="Informe('VUELOS');">Cantidad de vuelos</a></li>
                                <li><a href="#" class="dropdown-item" onclick="Informe('PASAJEROS');">Cantidad de pasajeros</a></li>
                                <li><a href="#" class="dropdown-item" onclick="Informe('TRANSITOS');">Cantidad de tránsitos</a></li>
                                <li><a href="#" class="dropdown-item" onclick="Informe('DESTINOS');">Destinos</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item dropdown" style="width:16.6%">
                        <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Descargas
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="Informes" asp-action="DescargaArchivosAerolinea" asp-route-id="@Guid.NewGuid()">Descarga de archivos</a>

                        </div>
                    </li>
                }



            </ul>
        </div>
        <div class="sin__contenido2 mb-5">
            <div class="bg--white" id="bg--white2">
                <div class="row" id="divFiltro">
                    <div class="col-sm-3 pt-2">
                        Seleccione las fechas:
                    </div>
                    <div class="col-sm-9">
                        <form action="/">
                            <div class="form-inline float-right">
                                <div class="form-group  search__date--width">
                                    <img src="~/images/novedad-calendario.png" alt="" />
                                    <input id="startDate1" readonly class="text-center" placeholder="Fecha inicial" aria-describedby="validationTooltipUsernamePrepend" required autocomplete="off" /> - <input id="endDate1" readonly class="text-center" placeholder="Fecha final" aria-describedby="validationTooltipUsernamePrepend" required autocomplete="off" /><input type="hidden" id="hdnInforme" value="" />
                                    <div class="invalid-tooltip">
                                        Por favor escriba o seleccione una fecha valida
                                    </div>
                                    <button type="submit" class="btn btn--border ml-2" id="btnBuscar2">Buscar</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <hr />
                <div id="PrincipalInformes">
                    <div id="divInforme">
                        <p id="chart"></p>
                    </div>

                    <div class="text-right"><p id="total">Total : 0</p></div>
                </div>
                <div id="divHoras" style="width: 100%; height: 500px;">
                </div>
            </div>
        </div>
        @*@section scripts{*@
                <script src="https://d3js.org/d3.v3.min.js"></script>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script src="~/js/treemap.js"></script>

                @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

                <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
                <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
                <script src="https://unpkg.com/gijgo@1.9.13/js/messages/messages.es-es.js" type="text/javascript"></script>

                <script type="text/javascript">

                    $("#divFiltro").hide();
                    $("#divHoras").hide();
                    $("#PrincipalInformes").hide();
                    $("#sin__contenido2").hide();
                    $("#bg--white2").hide();
                    $("#sin__contenido").show();

                    $('#startDate1').datepicker({ locale: 'es-es', format: 'dd/mm/yyyy' });
                    $('#endDate1').datepicker({ locale: 'es-es', format: 'dd/mm/yyyy' });


                    function Informe(tipo) {

                        $("#divFiltro").show();

                        if (tipo == "HORAS") {
                            $("#PrincipalInformes").hide();
                        }
                        else {
                            $("#divHoras").hide();
                            $("#PrincipalInformes").show();
                            $("#chart").remove();
                            $("#total").text("0");
                        }

                        $("#hdnInforme").val(tipo);
                        $("#sin__contenido2").show();
                        $("#sin__contenido").hide();
                        $(".bg--white").hide();
                        $("#bg--white2").show();

                        //Inicio Edward Lopez - bug 891 - ajuste titulos de la seccion estadisticas - 17-01-2020

                        switch (tipo) {
                            case "INGRESOS":
                                $("h1").html("INGRESOS")
                                break;
                            case "CARGUE":
                                $("h1").html("CARGUE")
                                break;
                            case "HORAS":
                                $("h1").html(" HORAS")
                                break;
                            case "VUELOS":
                                $("h1").html("VUELOS")
                                break;
                            case "PASAJEROS":
                                $("h1").html("PASAJEROS")
                                break;
                            case "TRANSITOS":
                                $("h1").html("TRANSITOS")
                                break;
                            case "DESTINOS":
                                $("h1").html("DESTINOS")
                                break;
                        }
                        //Fin Edward Lopez - bug 891 - ajuste titulos de la seccion estadisticas - 17-01-2020
                    }

                    $("#btnBuscar2").click(function (event) {
                        event.preventDefault();

                        var tipo = $("#hdnInforme").val();
                        var fechaInicial = $("#startDate1").val();
                        var fechaFinal = $("#endDate1").val();
                        var aerolinea = $("#aerolinea :selected").val();

                        if (fechaInicial === "") {
                            alert("Fecha inicial se encuentra vacia.");
                            return false;
                        }

                        if (fechaFinal === "") {
                            alert("Fecha final se encuentra vacia.");
                            return false;
                        }

                        if (aerolinea === "") {
                            alert("No ha seleccionado el tipo de aerolinea");
                            return false;
                        }

                        if (tipo === "") {
                            alert("No ha seleccionado el tipo de grafica.");
                            return false;
                        }

                        if (tipo == "HORAS") {
                            $("#divHoras").show();

                        }
                        else {
                            $("#divInforme").html('<p id="chart"></p>');
                        }

                        switch (tipo) {
                            case "INGRESOS":
                                InformeAccesos(fechaInicial, fechaFinal);
                                break;
                            case "CARGUE":
                                InformeCargue(fechaInicial, fechaFinal);
                                break;
                            case "HORAS":
                                InformeHoras(fechaInicial, fechaFinal, aerolinea);
                                break;
                            case "VUELOS":
                                InformeVuelos(fechaInicial, fechaFinal);
                                break;
                            case "PASAJEROS":
                                InformePasajeros(fechaInicial, fechaFinal);
                                break;
                            case "TRANSITOS":
                                InformeTransitos(fechaInicial, fechaFinal);
                                break;
                            case "DESTINOS":
                                InformeDestinos(fechaInicial, fechaFinal);
                                break;
                        }

                    });

                    function InformeAccesos(fechaInicial, fechaFinal) {
                        $("#chart").empty();
                        if (window.location.hash === "") {
                            d3.json("/Informes/Informes/InformeAccesos?inicio=" + fechaInicial + "&fin=" + fechaFinal, function (err, res) {
                                if (!err) {

                                    var total = 0;
                                    var i = 0;
                                    for (i = 0; i < res.length; i++) {
                                        total += res[i].value;
                                    }

                                    $("#total").text("Total : " + total);

                                    var data = d3.nest()
                                        .key(function (d) {
                                            return d.grupo;
                                        })
                                        .key(function (d) {
                                            return d.rol;
                                        })
                                        .entries(res);
                                    main({ title: "Accesos de Usuarios" }, { key: "Grupos", values: data });
                                }
                            });
                        }
                    }

                    function InformeCargue(fechaInicial, fechaFinal) {
                        $("#chart").empty();
                        if (window.location.hash === "") {
                            d3.json("/Informes/Informes/InformeCargue?inicio=" + fechaInicial + "&fin=" + fechaFinal, function (err, res) {
                                if (!err) {

                                    var total = 0;
                                    var i = 0;
                                    for (i = 0; i < res.length; i++) {
                                        total += res[i].value;
                                    }

                                    $("#total").text("Total : " + total);

                                    var data = d3.nest()
                                        .key(function (d) {
                                            return d.grupo;
                                        })
                                        .entries(res);
                                    main({ title: "Cargue de Archivos" }, { key: "Aerolineas", values: data });
                                }
                            });
                        }
                    }

                    function InformeHoras(fechaInicial, fechaFinal, aerolinea) {
                        google.charts.load('current', { 'packages': ['corechart'] });
                        google.charts.setOnLoadCallback(drawChart);

                        $.getJSON("/Informes/Informes/InformeHoras?inicio=" + fechaInicial + "&fin=" + fechaFinal + "&aerolinea="+ aerolinea, function (json) {
                            console.log(json);
                            drawChart(json);
                        });
                    }

                    function drawChart(valores) {
                        
                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'key');
                        data.addColumn('number', 'value');
                        //data.addColumn('number', 'aerolinea');

                        for (var i = 0; i < valores.length; i++) {
                            data.addRow([valores[i].key, valores[i].value]);
                        }

                        var options = {
                            legend: 'none',
                            series: {
                                0: { color: '#FFC844' }
                            },
                            title: 'Accesos por Horas',
                            hAxis: { title: 'Horas de ingreso (24 horas)', titleTextStyle: { color: '#333' } },
                            vAxis: { title: 'Cantidad de accesos', titleTextStyle: { color: '#333' }, minValue: 0 }
                        };

                        var chart = new google.visualization.AreaChart(document.getElementById('divHoras'));
                        chart.draw(data, options);
                    }

                    function InformeVuelos(fechaInicial, fechaFinal) {
                        
                        $("#chart").empty();
                        if (window.location.hash === "") {
                            d3.json("/Informes/Informes/InformeVuelos?inicio=" + fechaInicial + "&fin=" + fechaFinal, function (err, res) {
                                if (!err) {

                                    var total = 0;
                                    var i = 0;
                                    for (i = 0; i < res.length; i++) {
                                        total += res[i].value;
                                    }

                                    $("#total").text("Total : " + total);

                                    var data = d3.nest()
                                        .key(function (d) {
                                            if (d.tipo == "DOM") {
                                                return "Nivel Nacional";
                                            } else if (d.tipo == "INT") {
                                                return "Nivel Internacional";
                                            }
                                            else {
                                                return d.tipo;
                                            }
                                        })
                                        .key(function (d) {
                                            return d.aerolinea; 
                                        })
                                        .entries(res);
                                    main({ title: "Cantidad de Vuelos" }, { key: "Tipo de vuelos", values: data });
                                }
                            });
                        }

                    }

                    function InformePasajeros(fechaInicial, fechaFinal) {
                        $("#chart").empty();
                        if (window.location.hash === "") {
                            d3.json("/Informes/Informes/InformePasajeros?inicio=" + fechaInicial + "&fin=" + fechaFinal, function (err, res) {
                                if (!err) {

                                    var total = 0;
                                    var i = 0;
                                    for (i = 0; i < res.length; i++) {
                                        total += res[i].value;
                                    }

                                    $("#total").text("Total : " + total);

                                    var data = d3.nest()
                                        .key(function (d) {
                                            if (d.tipo == "DOM") {
                                                return "Nivel Nacional";
                                            } else if (d.tipo == "INT") {
                                                return "Nivel Internacional";
                                            }
                                            else {
                                                return d.tipo;
                                            }
                                        })
                                        .entries(res);
                                    main({ title: "Cantidad de Pasajeros" }, { key: "Tipo de vuelos", values: data });
                                }
                            });
                        }

                    }

                    function InformeTransitos(fechaInicial, fechaFinal) {
                        $("#chart").empty();
                        if (window.location.hash === "") {
                            d3.json("/Informes/Informes/InformeTransitos?inicio=" + fechaInicial + "&fin=" + fechaFinal, function (err, res) {
                                if (!err) {

                                    var total = 0;
                                    var i = 0;
                                    for (i = 0; i < res.length; i++) {
                                        total += res[i].value;
                                    }

                                    $("#total").text("Total : " + total);

                                    var data = d3.nest()
                                        .key(function (d) {
                                            if (d.tipo == "TTC") {
                                                return "Tránsito en Conexión";
                                            } else if (d.tipo == "INT") {
                                                return "Tránsito en Linea";
                                            }
                                            else {
                                                return d.tipo;
                                            }
                                        })
                                        .entries(res);
                                    main({ title: "Cantidad de Tránsitos" }, { key: "Tipo de Tránsitos", values: data });
                                }
                            });
                        }

                    }

                    function InformeDestinos(fechaInicial, fechaFinal) {
                        $("#chart").empty();
                        if (window.location.hash === "") {
                            d3.json("/Informes/Informes/InformeDestinos?inicio=" + fechaInicial + "&fin=" + fechaFinal, function (err, res) {
                                if (!err) {

                                    var total = 0;
                                    var i = 0;
                                    for (i = 0; i < res.length; i++) {
                                        total += res[i].value;
                                    }

                                    $("#total").text("Total : " + total);

                                    var data = d3.nest()
                                        .key(function (d) {
                                            if (d.tipo == "DOM") {
                                                return "Nivel Nacional";
                                            } else if (d.tipo == "INT") {
                                                return "Nivel Internacional";
                                            }
                                            else {
                                                return d.tipo;
                                            }
                                        })
                                        .key(function (d) {
                                            return d.aerolinea;
                                        })
                                        .entries(res);
                                    main({ title: "Cantidad de Destinos" }, { key: "Destinos", values: data });
                                }
                            });
                        }

                    }


                </script>
                @*}*@
