@model List<Opain.Jarvis.Dominio.Entidades.Anexo7B>
@inject Opain.Jarvis.Presentacion.Web.Helpers.ServicioComboBox ServicioComboBox

@{
    ViewData["Title"] = "Resumen Detalle Tasas Aeroportuarias Facturadas";
    List<Opain.Jarvis.Presentacion.Web.Helpers.TextoValor> Aerolineas = ServicioComboBox.TraerAerolineas2();
    List<Opain.Jarvis.Presentacion.Web.Helpers.TextoValor> TiposVuelo = ServicioComboBox.TraerTiposVuelos();
}

<h1>Resumen Detalle Tasas Aeroportuarias Facturadas</h1>
<partial name="Menu" />

<div class="sin__contenido mb-5">
    <form asp-action="ResumenDetalleTasasAeroportuariasFacturadas" method="post" id="Accion">
        @Html.AntiForgeryToken()
        <div class="bg--white">
            @if (User.IsInRole("OPAIN") || User.IsInRole("ADMINISTRADOR"))
            {
                <div class="row">
                    <div class="col-sm-3 pt-2">
                        Aerolinea:
                    </div>
                    <div class="col-sm-9">
                        <div class="form-inline float-right">
                            <div class="form-group">
                                <select class="form-control" name="aerolinea">
                                    <option value="0">Todas las aerolíneas</option>
                                    @foreach (Opain.Jarvis.Presentacion.Web.Helpers.TextoValor Tipo in Aerolineas)
                                    {
                                        bool Seleccionado = Tipo.Valor.Equals(ViewBag.aerolinea);
                                        <option value="@Tipo.Valor" selected="@Seleccionado">@Html.Raw(Tipo.Texto)</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <hr />
            <div class="row">
                <div class="col-sm-3 pt-2">
                    Tipo Vuelo:
                </div>
                <div class="col-sm-9">
                    <div class="form-inline float-right">
                        <div class="form-group">
                            <select class="form-control" name="tipoVuelo">
                                @foreach (Opain.Jarvis.Presentacion.Web.Helpers.TextoValor Tipo in TiposVuelo)
                                {
                                    bool Seleccionado = Tipo.Valor.Equals(ViewBag.tipoVuelo);
                                    <option value="@Tipo.Valor" selected="@Seleccionado">@Html.Raw(Tipo.Texto)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row" id="divFiltro">
                <div class="col-sm-3 pt-2">
                    Seleccione las fechas:
                </div>
                <div class="col-sm-9">
                    <div class="form-inline float-right">
                        <div class="form-group  search__date--width">
                            <img src="~/images/novedad-calendario.png" alt="" />
                            <input id="startDate" readonly name="startDate" class="text-center" placeholder="Fecha inicial" aria-describedby="validationTooltipUsernamePrepend" required autocomplete="off" value="@ViewBag.startDate" /> - <input id="endDate" readonly name="endDate" class="text-center" placeholder="Fecha final" aria-describedby="validationTooltipUsernamePrepend" required autocomplete="off" value="@ViewBag.endDate" />
                            <div class="invalid-tooltip">
                                Por favor escriba o seleccione una fecha valida
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline float-right">
                        <button type="button" class="btn btn--border ml-2" id="btnBuscar">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    @if (ViewBag.Error != null)
    {
        <div class="bg--white mb-5">
            @ViewBag.Error
        </div>
    }

    @if (Model.Count > 0)
    {
<div class="bg--white mb-5">
    A continuación se muestra el resultado de su búsqueda
    <hr />
    <form asp-action="ExportarExcel" method="post" id="Excel">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-inline float-left">
                    <button type="button" class="btn btn--border ml-2" id="btnExcel">Exportar Excel</button>
                    <input id="DatosConsulta" name="DatosConsulta" class="text-center" value="@ViewBag.ConsultaExcel" type="hidden" />
                </div>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table" id="tblConsultasRDTAF">
            <thead>
                <tr>
                    <th>Sigla</th>
                    <th>NIT</th>
                    <th>Nombre Aerolínea</th>
                    <th>Fecha Vuelo</th>
                    <th>Matrícula</th>
                    <th>Número Vuelo</th>
                    @if (ViewBag.tipoVuelo == "NAL")
                    {
                        <th>Tarifa COP</th>
                    }
                    @if (ViewBag.tipoVuelo == "INT")
                    {
                        <th>Tarifa USD</th>
                    }
                    <th>Tipo Vuelo</th>
                    @if (ViewBag.tipoVuelo == "NAL")
                    {
                        <th>Num Normales</th>
                    }
                    @if (ViewBag.tipoVuelo == "INT")
                    {
                        <th>Num Normales USD</th>
                    }
                    @if (ViewBag.tipoVuelo == "NAL")
                    {
                        <th>Cobro COP</th>
                    }
                    @if (ViewBag.tipoVuelo == "INT")
                    {
                        <th>Cobro USD</th>
                    }
                    <th>Factura</th>
                    <th>Tipo Factura</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Opain.Jarvis.Dominio.Entidades.Anexo7B registro in Model)
                {
                    <tr>
                        <td>@registro.Sigla</td>
                        <td>@registro.NIT</td>
                        <td>@registro.NombreAerolinea</td>
                        <td>@registro.FechaVuelo</td>
                        <td>@registro.Matricula</td>
                        <td>@registro.NumeroVuelo</td>
                        @if (ViewBag.tipoVuelo == "NAL")
                        {
                            <td>@registro.TarifaCOP</td>
                        }
                        @if (ViewBag.tipoVuelo == "INT")
                        {
                            <td>@registro.TarifaUSD</td>
                        }
                        <td>@registro.TipoVuelo</td>
                        @if (ViewBag.tipoVuelo == "NAL")
                        {
                            <td>@registro.NumNormales</td>
                        }
                        @if (ViewBag.tipoVuelo == "INT")
                        {
                            <td>@registro.NumNormalesUSD</td>
                        }
                        @if (ViewBag.tipoVuelo == "NAL")
                        {
                            <td>@registro.CobroCOP</td>
                        }
                        @if (ViewBag.tipoVuelo == "INT")
                        {
                            <td>@registro.CobroUSD</td>
                        }
                        <td>@registro.Factura</td>
                        <td>@registro.TipoFactura</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    }
</div>

@section scripts
{
    <script>
        $("#btnBuscar").click(function (event) {
            event.preventDefault();

            var fechaInicial = $("#startDate").val();
            var fechaFinal = $("#endDate").val();

            if (fechaInicial === "") {
                alert("Fecha inicial se encuentra vacia.");
                return false;
            }

            if (fechaFinal === "") {
                alert("Fecha final se encuentra vacia.");
                return false;
            }

            $("#Accion").submit()
            return true;

        });
        $("#btnExcel").click(function (event) {
            event.preventDefault();

            $("#Excel").submit()
            return true;

        });
    </script>

    <script>
        $("#tblConsultasRDTAF").DataTable({
            //dom: 'Bfrtip',
            //buttons: [
            //    {
            //        extend: 'excelHtml5',
            //        exportOptions: {
            //            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            //        }
            //    },
            //]
        });
    </script>
}