@model List<Opain.Jarvis.Dominio.Entidades.Anexo12>
@inject Opain.Jarvis.Presentacion.Web.Helpers.ServicioComboBox ServicioComboBox

@{
    ViewData["Title"] = "Soportes Exenciones Tasas Aeroportuarias";
    List<Opain.Jarvis.Presentacion.Web.Helpers.TextoValor> Aerolineas = ServicioComboBox.TraerAerolineas2();
    List<Opain.Jarvis.Presentacion.Web.Helpers.TextoValor> Tipos = ServicioComboBox.TraerTipos();
}

<h1>Soportes Exenciones Tasas Aeroportuarias</h1>

<partial name="Menu" />

<div class="sin__contenido mb-5">
    <form asp-action="SoportesExencionesTasasAeroportuarias" method="post" id="Accion">
        @Html.AntiForgeryToken()
        <div class="bg--white">
            @if (User.IsInRole("OPAIN") || User.IsInRole("ADMINISTRADOR"))
            {
                <div class="row">
                    <div class="col-sm-3 pt-2">
                        Aerolinea:
                    </div>
                    <div class="col-sm-9">
                        <div class="form-inline float-right">
                            <div class="form-group">
                                <select class="form-control" name="aerolinea">
                                    <option value="0">Todas las aerolíneas</option>
                                    @foreach (Opain.Jarvis.Presentacion.Web.Helpers.TextoValor Tipo in Aerolineas)
                                    {
                                        bool Seleccionado = Tipo.Valor.Equals(ViewBag.aerolinea);
                                        <option value="@Tipo.Valor" selected="@Seleccionado">@Html.Raw(Tipo.Texto)</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <hr />
            @*<div class="row">
            <div class="col-sm-3 pt-2">
                Tipo:
            </div>
            <div class="col-sm-9">
                <div class="form-inline float-right">
                    <div class="form-group">
                        <select class="form-control" name="tipo">
                            @foreach (Opain.Jarvis.Presentacion.Web.Helpers.TextoValor Tipo in Tipos)
                            {
                                bool Seleccionado = Tipo.Valor.Equals(ViewBag.tipo);
                                <option value="@Tipo.Valor" selected="@Seleccionado">@Html.Raw(Tipo.Texto)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr />*@
            @*<div class="row">
            <div class="col-sm-3 pt-2">
                Seleccione las facturas:
            </div>

            <div class="col-sm-9">
                <div class="form-inline float-right">
                    <div class="form-group">
                        <input id="facturaDesde" name="facturaDesde" class="text-center" placeholder="Factura inicial" aria-describedby="validationTooltipUsernamePrepend" required autocomplete="off" value="@ViewBag.facturaDesde" /> - <input id="facturaHasta" name="facturaHasta" class="text-center" placeholder="Factura Hasta" aria-describedby="validationTooltipUsernamePrepend" required autocomplete="off" value="@ViewBag.facturaHasta" />
                    </div>
                </div>
            </div>
        </div>
        <hr />*@
            <div class="row" id="divFiltro">
                <div class="col-sm-3 pt-2">
                    Seleccione las fechas:
                </div>
                <div class="col-sm-9">
                    <div class="form-inline float-right">
                        <div class="form-group  search__date--width">
                            <img src="~/images/novedad-calendario.png" alt="" />
                            <input id="startDate" readonly name="startDate" class="text-center" placeholder="Fecha inicial" aria-describedby="validationTooltipUsernamePrepend" required autocomplete="off" value="@ViewBag.startDate" /> - <input id="endDate" readonly name="endDate" class="text-center" placeholder="Fecha final" aria-describedby="validationTooltipUsernamePrepend" required autocomplete="off" value="@ViewBag.endDate" />
                            <div class="invalid-tooltip">
                                Por favor escriba o seleccione una fecha valida
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline float-right">
                        <button type="button" class="btn btn--border ml-2" id="btnBuscar">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    @if (ViewBag.Error != null)
    {
        <div class="bg--white mb-5">
            @ViewBag.Error
        </div>
    }

    @if (Model.Count > 0)
    {
<div class="bg--white mb-5">
    A continuación se muestra el resultado de su búsqueda
    <hr />
    <form asp-action="ExportarExcel" method="post" id="Excel">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-inline float-left">
                    <button type="button" class="btn btn--border ml-2" id="btnExcel">Exportar Excel</button>
                    <input id="DatosConsulta" name="DatosConsulta" class="text-center" value="@ViewBag.ConsultaExcel" type="hidden" />
                </div>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table" id="tblConsultasSETA">
            <thead>
                <tr>
                    <th>TI</th>
                    <th>Exención</th>
                    <th>Fecha Vuelo</th>
                    <th>Cédula</th>
                    <th>Pasajero</th>
                    <th>Apellido 1</th>
                    <th>Apellido 2</th>
                    <th>Clase</th>
                    <th>Destino</th>
                    <th>Solicitante</th>
                    <th>Aerolínea</th>
                    <th>Estado</th>
                    <th>Fecha Itinerada Vuelo</th>
                    <th># Vuelo</th>
                    <th>Causal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Opain.Jarvis.Dominio.Entidades.Anexo12 registro in Model)
                {
                    <tr>
                        <td>@registro.TI</td>
                        <td>@registro.Extencion</td>
                        <td>@registro.FechaItineradaVuelo</td>
                        <td>@registro.Cedula</td>
                        <td>@registro.Pasajero</td>
                        <td>@registro.Apellido1</td>
                        <td>@registro.Apellido2</td>
                        <td>@registro.Clase</td>
                        <td>@registro.Destino</td>
                        <td>@registro.Solicitante</td>
                        <td>@registro.Aerolinea</td>
                        <td>@registro.Reportada</td>
                        <td>@registro.FechaVuelo</td>
                        <td>@registro.Vuelo</td>
                        <td>@registro.Causal</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    }
</div>

@section scripts
{
    <script>
        $("#btnBuscar").click(function (event) {
            event.preventDefault();

            var fechaInicial = $("#startDate").val();
            var fechaFinal = $("#endDate").val();

            if (fechaInicial === "") {
                alert("Fecha inicial se encuentra vacia.");
                return false;
            }

            if (fechaFinal === "") {
                alert("Fecha final se encuentra vacia.");
                return false;
            }

            $("#Accion").submit()
            return true;

        });
        $("#btnExcel").click(function (event) {
            event.preventDefault();

            $("#Excel").submit()
            return true;

        });
    </script>

    <script>
        $("#tblConsultasSETA").DataTable({
            //dom: 'Bfrtip',
            //buttons: [
            //    {
            //        extend: 'excelHtml5',
            //        exportOptions: {
            //            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,13,14]
            //        }
            //    }, 
            //]
        });
    </script>
}