@model IEnumerable<Opain.Jarvis.Dominio.Entidades.UsuarioOtd>

<button type="button" class="btn btn--border fixed__table" data-toggle="modal" data-target=".crear" onclick="InsertarUsuario();">
    <img src="/images/crear-usuario.png" alt="Agregar Usuario" class="img-fluid"> Agregar Usuario
</button>
<table id="Usuarios" class="nowrap">
    <thead>
        <tr>
            <th>
                Estado
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Tipo de ID
            </th>
            <th>
                Número de identificación
            </th>
            <th>
                E-mail
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Cargo
            </th>
            <th>
                Perfil
            </th>
            <th>
                Aerolínea
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Activo)
                    {
                        <text>Activo</text>
                    }
                    else
                    {
                        <text>Inactivo</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.TipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.NumeroDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.NormalizedEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Perfil)

                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Aerolinea)
                </td>
                <td>
                    @{
                        string nroDocLogin = User.Identity.Name;
                    }
                    @if (item.NumeroDocumento != nroDocLogin)
                    {
                        <button type="button" class="btn btn--simple d-inline p-1 mr-1 ml-1" data-toggle="modal" data-target=".editar" onclick="EditarUsuario('@item.Id');">
                            <img src="~/images/editar.png" alt="Editar" />
                        </button>

                    }

                    @{
                        string nroDocLogin2 = User.Identity.Name;
                    }
                    @if (item.NumeroDocumento != nroDocLogin2)
                    {
                        <button type="button" class="btn btn--simple d-inline p-1 mr-1 ml-1" data-toggle="modal" data-target=".eliminar" onclick="EliminarUsuarioGet('@item.Id');">
                            <img src="~/images/borrar.png" alt="Eliminar" />
                        </button>

                    }

                </td>


            </tr>
        }

    </tbody>
</table>


