<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] @*- Opain.Jarvis.Presentacion.Web*@</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/Layout.css" />
</head>
<body class="bg-black">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex hv100 col-sm-12 flex-wrap">
                <!--header-->
                <header class="col-sm-12 bg__black__link">
                    <div class="row">
                        <div class="col-sm-2">
                            <a asp-action="Index" asp-controller="Home">
                                <img src="~/images/logo-jarvis.png" class="img-fluid" width="86" alt="Logo Jarvis" />
                            </a>
                        </div>
                        <div class="col-sm-10 text-right">
                            <img src="~/images/logo-dorado.png" class="img-fluid" alt="Logo Opain" width="150" />
                            <span class="header__line"></span>
                            <span class="text__name">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("AEROLINEA") || User.IsInRole("CARGA") || User.IsInRole("SUPERVISOR") || User.IsInRole("SUPERVISOR CARGA"))
                                    {
                                        @User.Claims.Where(c => c.Type.Equals("NombreUsuario")).FirstOrDefault().Value <text> - </text> @User.Claims.Where(c => c.Type.Equals("NombreAerolinea")).FirstOrDefault().Value
                                    }
                                    else
                                    {
                                        @User.Claims.Where(c => c.Type.Equals("NombreUsuario")).FirstOrDefault().Value
                                    }
                                }
                            </span>
                            <span class="header__line"></span>
                            Tasa aeroportuaria internacional: <strong>@User.Claims.Where(c => c.Type.Equals("Tasa")).FirstOrDefault().Value</strong>
                            <span class="header__line"></span>
                            <ul class="nav nav-tabs alert__bell">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        <img src="~/images/alerta-blanca-activa.png" alt="" />
                                        
                                    </a>
                                    <div class="dropdown-menu" id="notify"></div>
                                </li>
                            </ul>
                            <span class="header__line"></span>
                            <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action(" Index", "Home" , new { area="" })">Cerrar sesión</a>
                        </div>
                    </div>

                </header>

                <!--content-->

                <div class="container">
                    <div class="col-sm-12">
                        @RenderBody()
                    </div>
                </div>

                <!--footer-->
                <footer class="col-12">
                    <div class="row-fluid">
                        <div class="span6 text-left"> <span style="color:white">Versión 2.0.2</span></div>
                        <div class="span6 text-right"><img src="~/images/logo-opain-blanco.png" class="img-fluid" alt="Logo Opain" /></div>
                    </div>
                </footer>

            </div>
        </div>
    </div>

    <!--library-->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
