@model IEnumerable<Opain.Jarvis.Dominio.Entidades.PasajeroTransitoOtd>



<table class="table" id="tblEntregados" style="width:100%;">
    <thead>
        <tr>

            <th style="width: 75px;">
                @Html.DisplayNameFor(model => model.FechaLlegada)
            </th>
            <th style="width: 70px;">
                @Html.DisplayNameFor(model => model.HoraLlegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroVueloLlegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origen)
            </th>
            <th style="width: 68px;">
                @Html.DisplayNameFor(model => model.FechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroVueloSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePasajero)
            </th>
            <th style="width: 70px;">
                Tiempo restante para aprobar
            </th>
            @if (User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR"))
            {
                <th style="width:53px">
                    Aprobar todos <br /><input class="styled-checkbox" id="chkAprobarTodos" type="checkbox">
                    <label for="chkAprobarTodos"></label>
                </th>
                <th style="width:53px">
                    Rechazar todos <br /><input class="styled-checkbox" id="chkRechazarTodos" type="checkbox">
                    <label for="chkRechazarTodos"></label>
                </th>
            }
            <th style="display:none">

            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var cont = 0;
        }

        @foreach (var item in Model)
        {

            <tr>

                @*<td>
                        <button type="button" class="btn btn--simple" data-toggle="modal" data-target="#myModal" onclick="LlegadaTransitoOnBlur(@item.Id, '@item.FechaLlegada', '@item.HoraLlegada');">
                            <img src="~/images/guardar.png" alt="Guardar" />
                        </button>
                    </td>*@


                <td>
                    @if (User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR"))
                    {

                        @Html.TextBoxFor(modelItem => item.FechaLlegada, "{0:dd/MM/yyyy}", new { @maxlength = "10", @class = "fchLlegadaT", @readonly = "true", @id = "item_FechaLlegada" + cont.ToString() })
                    }
                    else
                    {
                       <span> @item.FechaLlegada.Day.ToString().PadLeft(2, '0')/@item.FechaLlegada.Month.ToString().PadLeft(2, '0')/@item.FechaLlegada.Year.ToString() </span> 
                    }

                </td>
                <td>
                    @if (User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR"))
                    {
                        @Html.TextBoxFor(modelItem => item.HoraLlegada, new { @class = "horLlegada", @readonly = "true", @id = "item_HoraLlegada" + cont.ToString() })
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.HoraLlegada, new { @id = "item_HoraLlegada" + cont.ToString() })
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroVueloLlegada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origen)
                </td>
                <td>
                    @item.FechaSalida.Day.ToString().PadLeft(2, '0')/@item.FechaSalida.Month.ToString().PadLeft(2, '0')/@item.FechaSalida.Year.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraSalida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroVueloSalida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePasajero)
                </td>
                <td>
                    <div class="tooltip">
                        <img src="~/images/alerta.png" alt="Queda poco tiempo" />
                        <span class="tooltiptext">Queda poco tiempo para aprobar</span>
                    </div>
                    <div class="tooltip__time">
                        @if (item.FechaHoraCargue.AddDays(1).Subtract(DateTime.Now).Hours < 0)
                        {
                            <span>-@((item.FechaHoraCargue.AddDays(1).Subtract(DateTime.Now).Hours * (-1)).ToString().PadLeft(2, '0')):@(Math.Abs(item.FechaHoraCargue.AddDays(1).Subtract(DateTime.Now).Minutes).ToString().PadLeft(2, '0'))</span>
                        }
                        else
                        {
                            <span>@((item.FechaHoraCargue.AddDays(1).Subtract(DateTime.Now).Hours).ToString().PadLeft(2,'0')):@(item.FechaHoraCargue.AddDays(1).Subtract(DateTime.Now).Minutes.ToString().PadLeft(2,'0'))</span>
                        }
                    </div>

                </td>
                @if (User.IsInRole("AEROLINEA") || User.IsInRole("SUPERVISOR"))
                {
                    //INICIO  Elopez 11-12-20109 Bug 758 - ajuste mutualidad cheks transitos y conexiones
                    <td>
                       
                        <input class="styled-checkbox chekInt" id="chkAprobar-@item.Id" name="chkAprobar[]" type="checkbox" value="@item.Id,@item.FechaLlegada.ToShortDateString(),@item.HoraLlegada">
                        <label for="chkAprobar-@item.Id"></label>
                    </td>
                    <td>
                        <input class="styled-checkbox chekInt" id="chkRechazar-@item.Id" name="chkRechazar[]" type="checkbox" value="@item.Id,@item.FechaLlegada.ToShortDateString(),@item.HoraLlegada">
                        <label for="chkRechazar-@item.Id"></label>
                    </td>
                    //FIN  Elopez 11-12-20109 Bug 758 - ajuste mutualidad cheks transitos y conexiones
                }
                <td style="display:none">
                    @item.Id
                </td>
            </tr>
            cont = cont + 1;
        }
    </tbody>
</table>

